<div class="container">
  <div>
    <h6 class="docs-header">Decentralizing and simplifying investments</h6>
    <div class="row">
      <p>
        How can you invest money nowadays?
        You can go to a bank, sign complicated documents and then receive an interest lower than the inflation rate.
        Or you can start your own stock trading and learn about investing, which can be risky and time-consuming.
        If only we all had plenty of money, we had our private investment managers taking care of our financial success.
      </p>
        At dInvest, we think that there should be a technology based solution which allows investments to be automated, easy to use, personal, and profitable.
        Imagine your private investor taking care of your profits and risks, while all of this being fully transparent at any time to you.
        That's why we decided to build an autonomous and decentralised fund based on blockchain technology.
      </p>
      <p>
        dInvest allows users to easily and transparently invest cryptocurrency into a decentralised fund.
        The fund is implemented as smart contracts on top of the Ethereum blockchain.
        It handles the investments autonomously to trade financial assets, without the need of having any trading experience by the user.
        Trading strategies are based on value investment criteria and implemented in investment recommendation agents, connected to the fund's contracts.
        Imagine you get all the service of a private investment manager without the need to be wealthy or to blindly trust a financial firm.
        Every transaction dInvest is doing is stored on the Ethereum blockchain, giving you the full transparency of what is happening at any point in time.
      </p>
      <br/><br/><br/>
      <br/><br/><br/>
    </div>
  </div>

  <div class="docs-section">
    <h6 class="docs-header">Read our white paper</h6>
    <div class="row">
      This project started out from a university project to create an investment opportunity for individuals.
      As public reputation becomes one of the most important success factors beyond financial success, investment opportunities should ensure ethical decisions and keep sustainable investment as the core of their strategy.
      Our hypothesis is that a decentralised autonomous hedge fund implemented in a blockchain based on smart contracts is able to be profitable in comparison to benchmark indexes and investments follow sustainability criteria that are transparent to the investors.
      Read the <a href="https://drive.google.com/open?id=0B2yxk_tfScceR3RDelJoYjJGTTg" target="_blank">white paper</a> to find out more about our results.
    </div>
  </div>
  <div class="docs-section">
    <h6 class="docs-header">Contact us</h6>
    <form action="https://formspree.io/dinvest.info@gmail.com" method="POST">
      <div class="row">
        <div class="six columns">
          <label for="exampleEmailInput">Your email</label>
          <input class="u-full-width input" type="email" placeholder="max@mailbox.com" name="_replyto">
        </div>
        <div class="six columns">
          <label for="exampleRecipientInput">Your name</label>
          <input class="u-full-width input" type="text" placeholder="Max" name="name">
        </div>
      </div>
      <label for="exampleMessage">Message</label>
      <textarea class="u-full-width input" placeholder="Hi, I want to talk about Ethereum, DAOs …" name="message"></textarea>
      <input class="button-primary" type="submit" value="Send">
    </form>

  </div>
</div>
